<div class="container">
  <section class="col-xs-6">
    <p>Welcome, <%= current_user.email %></p>
    <p>
      <%= link_to "Logout", logout_path %>
    </p>

    <h2>
      Add a new link
    </h2>
  </section>

  <section>
    <h2>Your Links</h2>
  </section>
</div
